ion-card-title {
  font-size: 25px;
  padding-bottom: 20px;

  @media (max-width: 480px) {
    font-size: 20px;
  }
}

ion-segment-button {
  --color-checked: var(--ion-color-orange);
  font-size: 18px;
}

ion-label {
  color: var(--text-white) !important;
}
  
   
   
//ROWS
.pastiPrincipali,
.pastiSecondari,
.allenamenti {
  text-align: center;
  align-items: center;
  padding-bottom: 8px;

    
  //MINI CARDS
  .miniPastoCard,
  .miniAllenamentoCard {
    background-color: var(--bg-page);
    min-width: 250px;
    width: fit-content;
    text-align: center;
    border-radius: 12px;
    margin: 0 auto;
    

    b {
      font-size: 15px;
      color: var(--ion-color-orange);
    }

    p{
      color: var(--text-white);
    }
  }   
}

h3{
  color: var(--text-white);
  font-size: 18px;
  padding-bottom: 8px;
  text-align: center;
}

.rigaBottoniPasti,
.rigaBottoniAllenamenti {
  padding-top: 8px;
  justify-content: center;
  display: flex;
  flex: wrap;

  ion-button {
    padding-inline: 16px; 
  }
}

//BOTTONI PROFESSIONISTA
.opzioniProfessionista {
  --border-radius: 12px;
  --color: var(--text-white);

  &::part(native) {
    border-radius: 12px;

    &:hover {
      background-color: #2C1A00;
    }
  }
}

