<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-item>
      <ion-button slot="end" (click) ="logout()">Logout</ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="(ruoloUtente | async) as ruolo">
    <ion-card *ngIf="ruolo === '0'" class="laTuaGiornata">
      La tua giornata | La tua settimana
      <ion-card-content class="pasti">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card class ="pasto">colazione</ion-card>
            </ion-col>
            <ion-col>
              <ion-card class ="pasto">pranzo</ion-card>
            </ion-col>
            <ion-col>
              <ion-card class ="pasto">cena</ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="ruolo !== '0'" class="iTuoiPazienti">
      I tuoi Pazienti
      <ion-card-content class="pasti">
        <!-- Contenuto per dietologo -->
      </ion-card-content>
    </ion-card>
  </ng-container>
  <!--<ion-button [routerLink]="['/creazionePasto']">Crea Pasto</ion-button> -->
  <!--<ion-button [routerLink]="['/pastiUtente']">I miei Pasti</ion-button> -->
  <ng-container *ngIf="(ruoloUtente | async) as ruolo">
    <!-- Button per utente normale (ruolo 0) -->
    <ng-container *ngIf="ruolo === '0'">
      <ion-button [routerLink]="['/creazionePasto']">Crea Pasto</ion-button>
      <ion-button [routerLink]="['/pastiUtente']">I miei Pasti</ion-button>
    </ng-container>
  
    <!-- Button per professionista -->
    <ng-container *ngIf="ruolo !== '0'">
      <ion-button [routerLink]="['/gestioneRichieste']">Le mie Richieste</ion-button>
      <ion-button [routerLink]="['/pazientiDietologo']">I miei Pazienti</ion-button>
    </ng-container>
  </ng-container>
</ion-content>
