<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-item>
      <ion-button slot="end" (click) ="logout()">Logout</ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="(ruoloUtente | async) as ruolo">

  <!--Homepage per il ruolo utente-->
  <ng-container *ngIf="ruolo === '0'">
    <ion-content [fullscreen]="true">
      <ion-card class="laTuaGiornata">
        La tua giornata | La tua settimana
        <ion-card-content class="pasti">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card class ="pasto">colazione</ion-card>
              </ion-col>
              <ion-col>
                <ion-card class ="pasto">pranzo</ion-card>
              </ion-col>
              <ion-col>
                <ion-card class ="pasto">cena</ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-button [routerLink]="['/creazionePasto']">Crea Pasto</ion-button>
      <ion-button [routerLink]="['/pastiUtente']">I miei Pasti</ion-button>
      <ion-button [routerLink]="['/creazioneAllenamento']">Crea Allenamento</ion-button>
    </ion-content>
  </ng-container>

  <!--Homepage per il ruolo professionista-->
  <ng-container *ngIf="ruolo !== '0'">
      <ion-content [fullscreen]="true">
        <ion-card class="iTuoiPazienti">
          I tuoi Pazienti
          <ion-card-content class="pasti">
          </ion-card-content>
        </ion-card>
      
        <ion-button [routerLink]="['/gestioneRichieste']">Le mie Richieste</ion-button>
        <ion-button [routerLink]="['/pazientiDietologo']">I miei Pazienti</ion-button>
      </ion-content>
  </ng-container>
</ng-container>
