<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-item>
      <ion-button slot="end" (click) ="logout()">Logout</ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="laTuaGiornata">
    La tua giornata
    <ion-card-content class="pasti">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card class ="pasto">colazione</ion-card>
          </ion-col>
          <ion-col>
            <ion-card class ="pasto">pranzo</ion-card>
          </ion-col>
          <ion-col>
            <ion-card class ="pasto">cena</ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card class="provvisoria">
    <ion-card-header>
      SEZIONE PROVVISORIA DA CAMBIARE POSTO IN CASO
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="showForm()"> Crea Pasto</ion-button>
      <form *ngIf="isShowingForm"[formGroup]="pastoForm" (ngSubmit)="onSubmit()">
        <ion-input type="text" formControlName="nome"></ion-input>
        <ion-input type="date" formControlName="data"></ion-input>
        <ion-input type="text" formControlName="tipo"></ion-input>
        <ion-button type="submit">Salva</ion-button>
      </form> 
    </ion-card-content>
  </ion-card>
</ion-content>
