<ng-container >
    <!--Sezione Form-->
    <ng-container>
        <ion-card>
            <ion-grid>
                <form>
                    <ion-row>
                        <ion-col>
                            Seleziona esercizi
                            <ion-item>
                                <ion-select class="ionSelectDettaglio1" placeholder="dettaglio 1">
                                    <ion-select-option>
                                        Esercizio1
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </form>
            </ion-grid>
        </ion-card>
    </ng-container>
</ng-container>