<app-default-header [page_title]="'Creazione Pasti'"></app-default-header>

<ion-content [fullscreen]="true" class="pastoBackground">
  <ion-card class="datiPasto">
    <ion-card-header>
      <ion-card-title>Inserisci i dati del pasto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="pastoForm" (ngSubmit)="onSubmit()">
        <ion-grid class="ion-justify-center">
          <ion-row>
            <ion-col>
              <ion-input type="text" placeholder="Nome Pasto" formControlName="nome"></ion-input>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-select placeholder="Tipo Pasto" formControlName="tipo" cancelText="Annulla" okText="Conferma">
                  <ion-select-option value="Colazione">Colazione</ion-select-option>
                  <ion-select-option value="Pranzo">Pranzo</ion-select-option>
                  <ion-select-option value="Cena">Cena</ion-select-option>
                  <ion-select-option value="Spuntino">Spuntino</ion-select-option>
                  <ion-select-option value="Merenda">Merenda</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-row class="buttonRow">
          @if(showRiempiPasto){
          <ion-button class="annullaButton" fill="outline" (click)="annullaCreazione()">Annulla</ion-button>
        } 
          <ion-button color="orange" type="submit" [disabled]="!pastoForm.valid">Crea pasto</ion-button>
        </ion-row>
        @if(showAlreadyExistent){
          <div style="color: red; background-color: transparent">
          Pasto già esistente
          </div>
        }
      </form>
    </ion-card-content>
  </ion-card>

  <ng-container>
    <app-riempi-dettagli 
      [isShow]="showRiempiPasto"
      [foodBool]="true"
      [miei_dettagli]="alimenti"
      [new_id_attivita]="id_pasto_creato"
      [dettagli_aggiunti_da_info]="alimento_da_aggiungere"
      (dettaglioSelezionato)="onAlimentoSelezionato($event)"
      (chiudi)="onChiudi()"
      (dettagliInseriti)="submitRiempi($event)">
    </app-riempi-dettagli>

    <app-info-dettagli
      [mio_dettaglio]="alimento_selezionato"
      [foodBool]="true"
      (inLista)="mettiInLista($event)"></app-info-dettagli>
  </ng-container>
</ion-content>