<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Registrati
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="signupBackground">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="9" size-md="6" class="ion-text-center">
        <ion-card class="registrationCard">
          <ion-card-header>
            <div class="iconContainer"><ion-icon name="a" size="large"></ion-icon></div>
              <ion-card-title>Registrati a HEIDI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <ion-radio-group formControlName="ruolo">
              <ion-grid>
                <ion-row>
                  <ion-col size="12" size-md="4">
                    <ion-item lines="none">
                      <ion-radio slot="start" value="0"></ion-radio>
                      <ion-label>Utente</ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col size="12" size-md="4">
                    <ion-item lines="none">
                      <ion-radio slot="start" value="1"></ion-radio>
                      <ion-label>Professionista Alimentare</ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col size="12" size-md="4">
                    <ion-item lines="none">
                      <ion-radio slot="start" value="2"></ion-radio>
                      <ion-label>Professionista Allenamenti</ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
              </ion-radio-group>

              @if (ruoliProfessionista.length > 0) {
                <ion-item>
                  <ion-label>Ruolo professionale</ion-label>
                  <ion-select formControlName="id_ruolo_professionista" interface="alert">
                    @for (ruolo of ruoliProfessionista; track ruolo.id) {
                      <ion-select-option [value]="ruolo.id">{{ ruolo.ruolo }}</ion-select-option>
                    }
                  </ion-select>
                </ion-item>
              }

              <ion-item class="registerCamp">
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>
              <ion-item class="registerCamp">
                <ion-label position="floating">Nome</ion-label>
                <ion-input formControlName="nome"></ion-input>
              </ion-item>
              <ion-item class="registerCamp">
                <ion-label position="floating">Cognome</ion-label>
                <ion-input formControlName="cognome"></ion-input>
              </ion-item>
              <ion-item class="registerCamp">
              <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
              <ion-item class="registerCamp">
              <ion-label position="floating">Conferma Password</ion-label>
                <ion-input type="password" formControlName="repeatpw"></ion-input>
              </ion-item>
              <ion-item *ngIf="registerForm.errors?.['passwordMismatch'] && registerForm.get('repeatpw')?.touched">
              <ion-label color="danger">Le password non coincidono</ion-label>
              </ion-item>
              <div class="buttonContainer">
                <ion-button expand="full" type="submit" [disabled]="!registerForm.valid" color="orange">
                  Registrati
                  <ion-icon slot="end" name="enter-outline"></ion-icon>
                </ion-button>
              </div>
            </form>
             <div class="loginLink">
              Hai già un account? <a routerLink="/login">Login</a>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
