.registrationCard {
    --ion-text-color: black;
    --ion-card-background: lightgreen;
    --ion-card-border-radius: 10px;
    --ion-card-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.registerCamp {
    --background: transparent;
}

ion-card-title {
    color:black;
}