<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Creazione Pasto</ion-title>
    <ion-button [routerLink]='["/home"]' slot="end">Home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="provvisoria">
    <ion-card-header>
      SEZIONE PROVVISORIA
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="pastoForm" (ngSubmit)="onSubmit()">
        <ion-grid class="ion-justify-center">
          <ion-row>
            <ion-col>
              <ion-input type="text" placeholder="Nome Pasto" formControlName="nome"></ion-input>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-select placeholder="Tipo Pasto" formControlName="tipo">
                  <ion-select-option value="Colazione">Colazione</ion-select-option>
                  <ion-select-option value="Pranzo">Pranzo</ion-select-option>
                  <ion-select-option value="Cena">Cena</ion-select-option>
                  <ion-select-option value="Spuntino">Spuntino</ion-select-option>
                  <ion-select-option value="Merenda">Spuntino</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button type="submit" [disabled]="!pastoForm.valid">Crea</ion-button>
        <div *ngIf="showAlreadyExistent" style="color: red; background-color: transparent">
          Pasto già esistente
        </div>
      </form>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="showRiempiPasto">
    <app-riempi-dettagli [isShow]="showRiempiPasto" [dettagli]="alimenti"></app-riempi-dettagli>
    <ion-card>
      <ion-grid>
        <form [formGroup]="riempiPastoForm" (ngSubmit)="submitRiempi()">
          <ion-row>
            <ion-col>
              Seleziona cibo
              <ion-item>
                <ion-select class="ionSelectCibo1" placeholder="Alimento 1" formControlName="alimento_0">
                  <ion-select-option class="ionSelectCibo1" *ngFor="let alimento of alimenti" [value]="alimento.id">
                    {{alimento.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
              <ion-col>
                Quantità
                <ion-item>
                  <ion-input type="number" step="any" placeholder="Quantità" formControlName="qta_0"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="riempiPastoForm.get('alimento_0')?.value">
              <ion-col>
              <ion-item>
                <ion-select class="ionSelectCibo2" placeholder="Alimento 2" formControlName="alimento_1">
                <ion-select-option *ngFor="let alimento of alimenti" [value]="alimento.id">
                  {{alimento.name}}
                </ion-select-option>
                </ion-select>
              </ion-item>
              </ion-col>
              <ion-col>
                Quantità
                <ion-item>
                  <ion-input type="number" step="any" placeholder="Quantità" formControlName="qta_1"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="riempiPastoForm.get('alimento_1')?.value">
              <ion-col>
              <ion-item>
                <ion-select class="ionSelectCibo3" placeholder="Alimento 3" formControlName="alimento_2">
                <ion-select-option *ngFor="let alimento of alimenti" [value]="alimento.id">
                  {{alimento.name}}
                </ion-select-option>
                </ion-select>
              </ion-item>
              </ion-col>
              <ion-col>
                Quantità
                <ion-item>
                  <ion-input type="number" step="any" placeholder="Quantità" formControlName="qta_2"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="riempiPastoForm.get('alimento_2')?.value">
              <ion-col>
              <ion-item>
                <ion-select class="ionSelectCibo4" placeholder="Alimento 4" formControlName="alimento_3">
                <ion-select-option *ngFor="let alimento of alimenti" [value]="alimento.id">
                  {{alimento.name}}
                </ion-select-option>
                </ion-select>
              </ion-item>
              </ion-col>
              <ion-col>
                Quantità
                <ion-item>
                  <ion-input type="number" step="any" placeholder="Quantità" formControlName="qta_3"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="riempiPastoForm.get('alimento_3')?.value">
              <ion-col>
              <ion-item>
                <ion-select class="ionSelectCibo5" placeholder="Alimento 5" formControlName="alimento_4">
                <ion-select-option *ngFor="let alimento of alimenti" [value]="alimento.id">
                  {{alimento.name}}
                </ion-select-option>
                </ion-select>
              </ion-item>
              </ion-col>
              <ion-col>
                Quantità
                <ion-item>
                  <ion-input type="number" step="any" placeholder="Quantità" formControlName="qta_4"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="riempiPastoForm.get('alimento_4')?.value">
              <ion-col>
              <ion-item>
                <ion-select class="ionSelectCibo6" placeholder="Alimento 6" formControlName="alimento_5">
                <ion-select-option *ngFor="let alimento of alimenti" [value]="alimento.id">
                  {{alimento.name}}
                </ion-select-option>
                </ion-select>
              </ion-item>
              </ion-col>
              <ion-col>
                Quantità
                <ion-item>
                  <ion-input type="number" step="any" placeholder="Quantità" formControlName="qta_5"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="riempiPastoForm.get('alimento_5')?.value">
              <ion-col>
              <ion-item>
                <ion-select class="ionSelectCibo7" placeholder="Alimento 7" formControlName="alimento_6">
                <ion-select-option *ngFor="let alimento of alimenti" [value]="alimento.id">
                  {{alimento.name}}
                </ion-select-option>
                </ion-select>
              </ion-item>
              </ion-col>
              <ion-col>
                Quantità
                <ion-item>
                  <ion-input type="number" step="any" placeholder="Quantità" formControlName="qta_6"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="riempiPastoForm.get('alimento_6')?.value">
              <ion-col>
              <ion-item>
                <ion-select class="ionSelectCibo8" placeholder="Alimento 8" formControlName="alimento_7">
                <ion-select-option *ngFor="let alimento of alimenti" [value]="alimento.id">
                  {{alimento.name}}
                </ion-select-option>
                </ion-select>
              </ion-item>
              </ion-col>
              <ion-col>
                Quantità
                <ion-item>
                  <ion-input type="number" step="any" placeholder="Quantità" formControlName="qta_7"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="riempiPastoForm.get('alimento_7')?.value">
              <ion-col>
              <ion-item>
                <ion-select class="ionSelectCibo9" placeholder="Alimento 9" formControlName="alimento_8">
                <ion-select-option *ngFor="let alimento of alimenti" [value]="alimento.id">
                  {{alimento.name}}
                </ion-select-option>
                </ion-select>
              </ion-item>
              </ion-col>
              <ion-col>
                Quantità
                <ion-item>
                  <ion-input type="number" step="any" placeholder="Quantità" formControlName="qta_8"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="riempiPastoForm.get('alimento_8')?.value">
              <ion-col>
              <ion-item>
                <ion-select class="ionSelectCibo10" placeholder="Alimento 10" formControlName="alimento_9">
                <ion-select-option *ngFor="let alimento of alimenti" [value]="alimento.id">
                  {{alimento.name}}
                </ion-select-option>
                </ion-select>
              </ion-item>
              </ion-col>
              <ion-col>
                Quantità
                <ion-item>
                  <ion-input type="number" step="any" placeholder="Quantità" formControlName="qta_9"></ion-input>
                </ion-item>
              </ion-col>
          </ion-row>

          <ion-row>
            Seleziona bevanda
          </ion-row>
          <ion-row>
            <ion-button type="submit">Riempi Pasto</ion-button>
          </ion-row>
        </form>
      </ion-grid>
    </ion-card>
  </ng-container>
</ion-content>