<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Creazione Pasto</ion-title>
    <ion-button [routerLink]='["/home"]' slot="end">Home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="provvisoria">
    <ion-card-header>
      SEZIONE PROVVISORIA
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="pastoForm" (ngSubmit)="onSubmit()">
        <ion-grid class="ion-justify-center">
          <ion-row>
            <ion-col>
              <ion-input type="text" placeholder="Nome Pasto" formControlName="nome"></ion-input>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-select placeholder="Tipo Pasto" formControlName="tipo">
                  <ion-select-option value="Colazione">Colazione</ion-select-option>
                  <ion-select-option value="Pranzo">Pranzo</ion-select-option>
                  <ion-select-option value="Cena">Cena</ion-select-option>
                  <ion-select-option value="Spuntino">Spuntino</ion-select-option>
                  <ion-select-option value="Merenda">Merenda</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button type="submit" [disabled]="!pastoForm.valid">Crea</ion-button>
        <div *ngIf="showAlreadyExistent" style="color: red; background-color: transparent">
          Pasto già esistente
        </div>
      </form>
    </ion-card-content>
  </ion-card>

  <ng-container>
    <app-riempi-dettagli 
      [isShow]="showRiempiPasto"
      [foodBool]="true"
      [miei_dettagli]="alimenti"
      [new_id_attivita]="id_pasto_creato"
      [dettagli_aggiunti_da_info]="alimento_da_aggiungere"
      (dettaglioSelezionato)="onAlimentoSelezionato($event)"
      (chiudi)="onChiudi()"
      (dettagliInseriti)="submitRiempi($event)">
    </app-riempi-dettagli>

    <app-info-dettagli
      [dettaglio]="alimento_selezionato"
      [foodBool]="true"
      (inLista)="mettiInLista($event)"></app-info-dettagli>
  </ng-container>
</ion-content>