<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cerca il tuo cibo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card style="padding:20px">
    <ion-card-header>
      <ion-card-title>Ricerca</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-searchbar placeholder="Mela"></ion-searchbar>
    </ion-card-content>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Mela</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Calorie: 12kcal</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-card-content>
      <ion-button expand="full" color="primary">Aggiungi a pasto</ion-button>
    </ion-card-content>
    <ion-card-content>
      <ion-button expand="full" color="secondary">Vedi dettagli</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
