<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Il mio profilo</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-md="6" class="ion-text-center">
                <ion-card class="infoCard">
                    <ion-card-header class="ion-justify-content-center">
                        <div class="iconContainer"><ion-icon size="large"></ion-icon></div>
                        <ion-card-title>Benvenuto {{dati_utente.name}} </ion-card-title>
                    </ion-card-header>
                    <ion-row>
                        <ion-col class="colonnaDati">
                            <ion-label class="ion-text-start">
                             <h1>I tuoi dati:</h1>
                            </ion-label>
                            <ion-item class="dataCamp">
                                <ion-label>Nome: {{dati_utente.name}}</ion-label>
                            </ion-item>
                            <ion-item class="dataCamp">
                                <ion-label>Cognome: {{dati_utente.surname}}</ion-label>
                            </ion-item>
                            <ion-item class="dataCamp">
                                <ion-label>e-mail: {{dati_utente.email}}</ion-label>
                            </ion-item>
                            @if(dati_utente.ruolo != 0){
                                <ion-item class="dataCamp">
                                    <ion-label>Campo specializzazione: {{dati_utente.ruolo == 1 ? 'Alimentazione' : 'Allenamenti'}}</ion-label>
                                </ion-item>
                            }
                            <div class="buttonContainer">
                                <ion-button (click)="modalOpen = true">Modifica password</ion-button>
                            </div>
                        </ion-col>
                            @if(dati_utente.ruolo === 0){
                                <ion-col class="colonnaDati">
                            <ion-label class="ion-text-start">
                             <h1>Le tue informazioni:</h1>
                            </ion-label>
                            <ion-item class="dataCamp">
                                <ion-label>Età:</ion-label>
                                <ion-input #etaInput type="number" [readonly]="!flag_eta" (keypress)="numeriEta($event)" [placeholder]="info_utente.eta"></ion-input>
                                @if(!flag_eta){
                                    <ion-button (click)="modificaEta()">
                                        <ion-icon name="create"></ion-icon>
                                    </ion-button>
                                }@else{
                                    <ion-button color="success" (click)="Submit(etaInput.value ?? '', 0, 0, '')">
                                        <ion-icon name="checkmark"></ion-icon>
                                    </ion-button>
                                }
                            </ion-item>
                                <ion-item class="dataCamp">
                                    <ion-label>Peso: </ion-label>
                                    <ion-input #pesoInput type="number" [readonly]="!flag_peso" (keypress)="numeriPesoAltezza($event)" [placeholder]="info_utente.peso_kg"></ion-input>
                                    @if(!flag_peso){
                                        <ion-button (click)="modificaPeso()">
                                        <ion-icon name="create"></ion-icon>
                                    </ion-button>
                                    }@else{
                                        <ion-button color="success" (click)="Submit(0,pesoInput.value ?? '', 0, '')">
                                            <ion-icon name="checkmark"></ion-icon>
                                        </ion-button>
                                    }
                                </ion-item>
                                <ion-item class="dataCamp">
                                    <ion-label>Altezza: </ion-label>
                                     <ion-input #altezzaInput type="number" [readonly]="!flag_altezza" (keypress)="numeriPesoAltezza($event)" [placeholder]="info_utente.altezza_cm"></ion-input>
                                    @if(!flag_altezza){
                                        <ion-button (click)="modificaAltezza()">
                                            <ion-icon name="create"></ion-icon>
                                        </ion-button>
                                    }@else{
                                        <ion-button color="success" (click)="Submit(0, 0, altezzaInput.value ?? '', '')">
                                            <ion-icon name="checkmark"></ion-icon>
                                        </ion-button>
                                }
                            </ion-item>
                            <ion-item class="dataCamp">
                                <ion-col>
                                    <ion-label>Condizioni mediche:</ion-label>
                                    <div class="textArea">
                                        <ion-input #CondizioniInput type="text" [readonly]="!flag_condizioni" [placeholder]="info_utente.condizioni_mediche"></ion-input>
                                        @if(!flag_condizioni){
                                            <ion-button (click)="modificaCondizioni()">
                                                <ion-icon name="create"></ion-icon>
                                            </ion-button>
                                        }@else{
                                            <ion-button color="success" (click)="Submit(0, 0, 0, CondizioniInput.value ?? '')">
                                                <ion-icon name="checkmark"></ion-icon>
                                            </ion-button>
                                        }
                                    </div>
                                </ion-col>
                            </ion-item>
                        </ion-col>
                    }
                    </ion-row>
                </ion-card>
                <ion-card class="infoCard">
                    <ion-card-header class="ion-justify-content-center">
                        <div class="iconContainer"><ion-icon size="large"></ion-icon></div>
                        <ion-card-title>Informazioni {{dati_utente.ruolo === 0 ? 'esperti' : 'clienti'}} associati </ion-card-title>
                    </ion-card-header>
                    <ion-row>
                        @if(dati_utente.ruolo !== 0){
                            se non ci sono clienti associati messaggio di attesa, altrimenti lista dei clienti
                        }@else {
                            <ion-col class="colonnaDati">
                            <ion-label class="ion-text-start">
                             <h1>Per la tua alimentazione:</h1>
                            </ion-label>
                            @if((dati_utente.id_P1 ?? -1) !== -1 && dati_utente.id_P1 !== null){
                                <ion-item class="dataCamp">
                                    <ion-label>Nome: {{dati_esperto_alimentare.name}}</ion-label>
                                </ion-item>
                                <ion-item class="dataCamp">
                                    <ion-label>Cognome: {{dati_esperto_alimentare.surname}}</ion-label>
                                </ion-item>
                                <ion-item class="dataCamp">
                                    <ion-label>e-mail: {{dati_esperto_alimentare.email}}</ion-label>
                                </ion-item>
                                <div class="buttonContainer">
                                    <ion-button [routerLink]="['/gestioneProfessionisti']">Gestisci esperto</ion-button>
                                </div>
                            }@else {
                                <ion-item class="dataCamp">
                                    <ion-label>Ancora nessun professionista</ion-label>
                                </ion-item>
                                <div class="buttonContainer">
                                    <ion-button [routerLink]="['/gestioneProfessionisti']">Scegli un esperto</ion-button>
                                </div>
                            }
                        </ion-col>
                        <ion-col class="colonnaDati">
                            <ion-label class="ion-text-start">
                             <h1>Per i tuoi allenamenti:</h1>
                            </ion-label>
                            @if((dati_utente.id_P2 ?? -1) !== -1 && dati_utente.id_P2 !== null){
                                <ion-item class="dataCamp">
                                    <ion-label>Nome: {{dati_esperto_allenamenti.name}}</ion-label>
                                </ion-item>
                                <ion-item class="dataCamp">
                                    <ion-label>Cognome: {{dati_esperto_allenamenti.surname}}</ion-label>
                                </ion-item>
                                <ion-item class="dataCamp">
                                    <ion-label>e-mail: {{dati_esperto_allenamenti.email}}</ion-label>
                                </ion-item>
                                <div class="buttonContainer">
                                    <ion-button [routerLink]="['/gestioneProfessionisti']">Gestisci esperto</ion-button>
                                </div>
                            }@else {
                                <ion-item class="dataCamp">
                                    <ion-label>Ancora nessun professionista</ion-label>
                                </ion-item>
                                <div class="buttonContainer">
                                    <ion-button [routerLink]="['/gestioneProfessionisti']">Scegli un esperto</ion-button>
                                </div>
                            }
                        </ion-col>
                        }
                    </ion-row>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-modal [isOpen]="modalOpen" (ionModalDidDismiss)="modalOpen = false">
        <ng-template>
            <ion-content>
                <ion-card>
                    <ion-card-header>
                        MODIFICA PASSWORD
                    </ion-card-header>
                    <ion-card-content>
                        <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">
                            <ion-grid class="ion-justify-center">
                                <ion-row>
                                    <ion-col>
                                        <ion-input type="password" placeholder="Vecchia Password" formControlName="vecchiaPassword"></ion-input>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        <ion-input type="password" placeholder="Nuova Password" formControlName="nuovaPassword"></ion-input>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        <ion-input type="password" placeholder="Conferma Nuova Password" formControlName="confermaPassword"></ion-input>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                            <div class="buttonContainer">
                                <ion-button color="danger" (click)="chiudiModal()">Annulla</ion-button>
                                <ion-button type="submit" [disabled]="!passwordForm.valid"> Conferma </ion-button>
                                @if(controlloVecchiaPassword){
                                    <div style="color: red; background-color: transparent">
                                        La vecchia password non coincide
                                    </div>
                                }@else if(controlloNuovaPassword){
                                    <div style="color: red; background-color: transparent">
                                        Le nuove password non coincidono
                                    </div>
                                }
                            </div> 
                        </form>  
                    </ion-card-content>  
                </ion-card>
            </ion-content>
        </ng-template>
    </ion-modal>
</ion-content>