<div class="richieste">
  @if(ruoloUtente === '0') {
    <ion-card class="richesteUtente ion-padding">
        <ion-card-header>
            <ion-card-title>Richieste effettuate</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            @for(richiesta of richieste_utente; track richiesta.id) {
                <ion-item class="richiesta">
                    @if(richiesta.tipologia_attivita === 0){
                        <ion-label class="ion-padding-horizontal">
                            <span class="reqText">{{richiesta.tipo_richiesta}}</span>
                             PASTO id: {{richiesta.id_attivita}}</ion-label>
                    } @else {
                        <ion-label class="ion-padding-horizontal">
                            <span class="reqText">{{richiesta.tipo_richiesta}}</span>
                             ALLENAMENTO id: {{richiesta.id_attivita}}</ion-label>
                    }
                    <ion-label class="ion-padding-horizontal">A: 
                        <span class="reqText"> {{richiesta.nome_P}} {{richiesta.cognome_P}}</span></ion-label>
                    @if(richiesta.stato === 'PENDING') {
                        <ion-badge color="warning">PENDING</ion-badge>
                    } @else {
                        <ion-badge color="success">{{richiesta.stato}}</ion-badge>
                    }
                </ion-item>
            }
        </ion-card-content>
    </ion-card>
  } @else if (ruoloUtente === '1' || ruoloUtente === '2') {
    <ion-card class="richesteUtente">
        <ion-card-header>
            <ion-card-title>Richieste ricevute</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            @for(richiesta of richieste_utente; track richiesta.id) {
                <ion-item class="richiesta">
                    @if(richiesta.tipologia_attivita === 0){
                        <ion-label class="ion-padding-horizontal">
                            <span class="reqText">{{richiesta.tipo_richiesta}}</span>
                             PASTO id: {{richiesta.id_attivita}}</ion-label>
                    } @else {
                        <ion-label class="ion-padding-horizontal">
                            <span class="reqText">{{richiesta.tipo_richiesta}}</span>
                             ALLENAMENTO id: {{richiesta.id_attivita}}</ion-label>
                    }
                    <ion-label class="ion-padding-horizontal">Da: 
                        <span class="reqText"> {{richiesta.nome_p}} {{richiesta.cognome_p}}</span> </ion-label>
                    @if(richiesta.stato === 'PENDING') {
                        <ion-badge color="warning">PENDING</ion-badge>
                        <ion-button slot="end" color="purple" (click)="accettaRichiesta(richiesta.id, richiesta.id_attivita, richiesta.tipologia_attivita, richiesta.tipo_richiesta)">
                            <ion-icon name="checkmark-outline"></ion-icon>
                        </ion-button>
                    } @else {
                        <ion-badge color="success">{{richiesta.stato}}</ion-badge>
                    }
                <ion-button slot="end" color="red" (click)="rifiutaRichiesta(richiesta.id)">
                    <ion-icon name="trash"></ion-icon>
                </ion-button>
                </ion-item>
            }
        </ion-card-content>
    </ion-card>
  } @else {
    Controlla di avere i giusti permessi
    <ion-button [routerLink]="['/login']"></ion-button>
  }
</div>
