//CARD
.datiAllenamento {
    width: 70%;
    margin-inline: auto;

    .titoloCard {
        font-size: 25px;
    }

    ion-card-title {
      font-size: 20px;
      padding-bottom: 20px;
    }

    
    .dateCol {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .dateButton {
        color: var(--ion-color-orange);
        --border-color: var(--ion-color-orange);
        margin-top: -10px;
        min-height: 20px;
        height: 30px;
    }

    .buttonPlaceholder{
        color: rgba(245, 124, 0, 0.6);
        --border-color: var(--ion-color-orange);
    }




    ion-input {
        font-size: 15px;
        --color: var(--text-white);
        --highlight-color-focused: var(--ion-color-orange);
        --highlight-color-valid: var(--ion-color-purple);
        text-align: center;
    }

    ion-label {
        color: var(--text-white) !important;
    }
}


    ion-modal.calendarModal {
        --width: auto;
        --height: auto;
        --border-radius: 16px;
        --backdrop-opacity: 0;
        align-items: center;
        justify-content: center;
    }

.buttonRow {
    justify-content: center;
}
   ion-button {
        padding-inline: 16px;
    }

