<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Creazione Allenamento</ion-title>
        <ion-button [routerLink]='["/home"]' slot="end"> Home </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card class="provvisoria">
        <ion-card-header>
            CREAZIONE ALLENAMENTO
        </ion-card-header>
        <ion-card-content>
           <form [formGroup]="allenamentoForm" (ngSubmit)="onSubmit()">
            <ion-grid class="ion-justify-center">
                <ion-row>
                    <ion-col>
                        <ion-input type="text" placeholder="Nome Allenamento" formControlName="nome"></ion-input>
                    </ion-col>
                    <ion-col class="ion-justify-top">
                        <ion-card-title> 
                            Giorno Allenamento
                        </ion-card-title>
                        
                       <ion-datetime-button datetime="datetime" ></ion-datetime-button>

                       <ion-modal [keepContentsMounted]="true">
                        <ng-template>
                            <ion-datetime 
                            id="datetime"
                            presentation="date"
                            [showDefaultButtons]="true"
                            doneText="Seleziona"
                            cancelText="Annulla"
                            formControlName="giorno">
                            </ion-datetime>
                        </ng-template>                            
                       </ion-modal>                       
                    </ion-col>

                    <ion-col>
                        <ion-row>
                            durata allenamento prevista:
                        </ion-row>
                        <ion-row>
                            <ion-button (click)="decrementoDurata()" fill="outline" size="small">-</ion-button>
                            <ion-input type="number" step="any" placeholder="Durata" [ngStyle]="{'max-width': '20px'}" formControlName="durata"></ion-input>
                            <ion-button (click)="incrementoDurata()" fill="outline" size="small">+</ion-button>
                            Ore
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-button type="submit" [disabled]="!allenamentoForm.valid"> Crea </ion-button>
            @if(showRiempiAllenamento){
                <ion-button color="danger" (click)="annullaCreazione()">Annulla</ion-button>
            } 
            @if(showAlreadyExistent){
                <div style="color: red; background-color: transparent">
                Allenamento già esistente
                </div>
            }
           </form>
        </ion-card-content>
    </ion-card>

    <ng-container>
       <app-riempi-dettagli
       [isShow]="showRiempiAllenamento"
       [miei_dettagli]="esercizi"
       [new_id_attivita]="id_allenamento_creato"
       [dettagli_aggiunti_da_info]="esercizio_da_aggiungere"
       (dettaglioSelezionato)="onEsercizioSelezionato($event)"
       (chiudi)="onChiudi()"
       (dettagliInseriti)="submitRiempi($event)">
        </app-riempi-dettagli>

        <app-info-dettagli
        [mio_dettaglio]="esercizio_selezionato"
        
        (inLista)="mettiInLista($event)">
        </app-info-dettagli>
    </ng-container>
</ion-content>