<app-default-header [page_title]="'Creazione Allenamento'"></app-default-header>


<ion-content [fullscreen]="true">
    <ion-card class="datiAllenamento">
        <ion-card-header>
            <ion-card-title class="titoloCard">Inserisci i dati dell'allenamento</ion-card-title>
        </ion-card-header>
        <ion-card-content>
           <form [formGroup]="allenamentoForm" (ngSubmit)="onSubmit()">
            <ion-grid class="ion-justify-center">
                <ion-row>
                    <ion-col>
                        <ion-input type="text" placeholder="Nome Allenamento" formControlName="nome"></ion-input>
                    </ion-col>
                    <ion-col class="dateCol">
                        <ion-card-title> 
                            Giorno Allenamento
                        </ion-card-title>
                        
                       <ion-button fill="outline" class="dateButton" 
                                    (click)="apriModalCalendario()"
                                    [disabled]="!pulsanteCalendarioAbilitato"
                                    [ngClass]="{ 'buttonPlaceholder': !allenamentoForm.get('giorno')?.value}">
                        {{ (allenamentoForm.get('giorno')?.value | date: 'dd/MM/yyyy') || (dataOdierna | date: 'dd/MM/yyyy') }}
                       </ion-button>

                       <ion-modal #modalCalendario class="calendarModal"
                                (ionModalWillPresent)="apriCalendario = true"
                                (ionModalDidDismiss)="apriCalendario = false">
                        <ng-template>
                            @if(apriCalendario){
                            <ion-datetime #calendario
                            presentation="date"
                            [showDefaultButtons]="false"
                            [firstDayOfWeek]="1"
                            formControlName="giorno"
                            color="orange">
                            <ion-buttons slot="buttons">
                                <ion-button color="red" (click)="modalCalendario.dismiss()">Annulla</ion-button>
                                <ion-button color="orange" (click)="calendario.confirm(); modalCalendario.dismiss()">Conferma</ion-button>
                            </ion-buttons>
                            </ion-datetime>
                        }
                        </ng-template>                            
                       </ion-modal>                       
                    </ion-col>

                    <ion-col>
                          <ion-label>
                            Quante ore ti alleni?
                            </ion-label>
                        <ion-row>
                            <ion-button color="orange" (click)="decrementoDurata()" fill="outline" size="small">-</ion-button>
                            <ion-input type="number" step="any" placeholder="Durata" [ngStyle]="{'max-width': '50px', 'text-align': 'center'}" formControlName="durata"></ion-input>
                            <ion-button color="orange" (click)="incrementoDurata()" fill="outline" size="small">+</ion-button>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-row class="buttonRow">
            @if(showRiempiAllenamento){
                <ion-button color="red" fill="outline" (click)="annullaCreazione()">Annulla</ion-button>
            }
             <ion-button color="orange" type="submit" [disabled]="!allenamentoForm.valid"> Crea </ion-button>
            </ion-row>
            @if(showAlreadyExistent){
                <div style="color: red; background-color: transparent">
                Allenamento già esistente
                </div>
            }
           </form>
        </ion-card-content>
    </ion-card>

    <ng-container>
       <app-riempi-dettagli
       [isShow]="showRiempiAllenamento"
       [miei_dettagli]="esercizi"
       [new_id_attivita]="id_allenamento_creato"
       [dettagli_aggiunti_da_info]="esercizio_da_aggiungere"
       (dettaglioSelezionato)="onEsercizioSelezionato($event)"
       (chiudi)="onChiudi()"
       (dettagliInseriti)="submitRiempi($event)">
        </app-riempi-dettagli>

        <app-info-dettagli
        [mio_dettaglio]="esercizio_selezionato"
        
        (inLista)="mettiInLista($event)">
        </app-info-dettagli>
    </ng-container>
</ion-content>