<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Benvenuto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="loginBackground">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" class="ion-text-center">
        <ion-card class="loginCard">
          <ion-card-header>
            <div class="iconContainer"><ion-icon name="a" size="large"></ion-icon></div>
            <ion-card-title>Accedi a HEIDI</ion-card-title>
            <div class="subtitle">
              <ion-icon name="flash-outline"></ion-icon>
              HEalthy Interactive DIet
            </div>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <ion-item class="loginCamp">
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>
              <ion-item class="loginCamp">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
              <div class="buttonContainer">
                <ion-button expand="full" type="submit" [disabled]="!loginForm.valid" color="orange">
                  Accedi
                  <ion-icon slot="end" name="log-in-outline"></ion-icon>
                </ion-button>
              </div>
            </form>
            <div class="registerLink">
              Non hai un account? <a routerLink="/registrazione">Registrati</a>
            </div>
            <div class="forgotPasswordLink">
              Hai dimenticato la password? <a routerLink="/auth/password-dimenticata">Recupera</a>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
