.loginBackground {
    --ion-background-color: lightblue;
}

.loginCard {
    --ion-text-color: black;
    --ion-card-background: lightgreen;
    --ion-card-border-radius: 10px;
    --ion-card-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCamp {
    --background: transparent;
}

.loginTabs {
    color: black;
}

ion-card-title {
    color:black;
}

ion-button {
  --focus-background: #0056b3;  // Blu scuro
  --focus-color: white;          // Testo bianco
  
  &:focus-within {
    border: 2px solid #0056b3;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.8);
  }
}