<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>I Miei Pasti</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for(pasto of pastiUtente; track pastoTrack($index, pasto)) {
      <ion-item>
        <ion-label>
          <h2>{{ pasto.name }}</h2>
          <p>Data: {{ pasto.data_creazione | date: 'dd/MM/yyyy' }}</p>
          <p>{{ pasto.tipo }}</p>
        </ion-label>
        <ion-button fill="outline" (click)="mostraDettagli(pasto)" slot="end">
          <ion-icon name="eye-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline" (click)="modificaPasto(pasto)" slot="end">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button id="open-modal-pasto-{{ pasto.id }}"fill="outline" (click)="apriRichiesta(pasto.id)" slot="end">
          <ion-icon name="help-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline" color="danger" (click)="eliminaPasto(pasto.id)" slot="end">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-modal #modal trigger="open-modal-pasto-{{ pasto.id }}">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Invia a un Professionista</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="modal.dismiss()">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
          <h3>Seleziona a chi vuoi mandare una richiesta:</h3>
          
          <ion-list>
            @for (prof of professionisti_disponibili; track prof.id) {
              <ion-item class="ion-display-flex">
                <ion-label>{{ prof.nome_P }} {{ prof.cognome_P }}</ion-label>
                <ion-button (click)="inviaRichiesta(prof.id_professionista, 'MODIFICA')">Modifica</ion-button>
                <ion-button (click)="inviaRichiesta(prof.id_professionista, 'VOTO')">Vota</ion-button>
              </ion-item>
            } @empty {
              <ion-item>Nessun professionista associato trovato</ion-item>
            }
          </ion-list>
        </ion-content>
        </ng-template>
      </ion-modal>
    }
  </ion-list>

  @if(pastoSelezionato) {
    <div class="overlay-dettagli" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: flex; justify-content: center; align-items: center; z-index: 1000;">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ pastoSelezionato.nome }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Data creazione: {{ pastoSelezionato.data_creazione.split('T')[0]}}</p>
          <p>Tipo: {{ pastoSelezionato.tipo }}</p>
          <p><b>Totale Calorie:</b> {{ totCalorie }} kcal</p>
          <p>Totale carboidrati: {{totCarboidrati}} g</p>
          <p>Totale zuccheri: {{totZuccheri}} g</p>
          <p>Totale grassi: {{totGrassi}} g</p>
          <!--
          <p>Vitamine: {{totVitamine}}</p> metti solo se riesci a far comparire le vitamine una sola volta
          -->
          <ul>
            @for(alimento of dettagliPasto?.alimenti; track alimentoTrack($index, alimento)) {
              <li>
                {{ alimento.name }} - {{ alimento.quantita }}g ({{ alimento.kcal }} kcal/100g)
              </li>
              }
          </ul>
          <ion-button (click)="chiudiDettagli()">Chiudi</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  }

  <ion-button expand="full" [routerLink]='["/creazionePasto"]'>Aggiungi Pasto</ion-button>

  @if(viewModifica) {
    <app-modifica-dettagli
      [isShow]="viewModifica"
      [foodBool]="true"
      [miaAttivita]="pasto_da_modificare"
      [mioDettaglio]="dettagliPasto"
      [dettaglio_selezionato]="alimentoSelezionato"
      [listaDettagli]="alimenti"
      (dettaglio_selezionato_in_attesa)="getAlimento($event)"
      (inviaModifiche)="confermaModificaPasto($event)"
      (chiudi)="onChiudi()">
    </app-modifica-dettagli>
  }

</ion-content>
