<app-default-header [page_title] = "'I Miei Pasti'"></app-default-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for(pasto of pastiUtente; track pastoTrack($index, pasto)) {
      <ion-item lines="none">
        <ion-label class="ion-display-flex ion-justify-content-evenly">
          <h2>{{ pasto.name }}</h2>
          <p>Data: {{ pasto.data_creazione | date: 'dd/MM/yyyy' }}</p>
          <p>{{ pasto.tipo }}</p>
        </ion-label>
      </ion-item>

      <div class="toolbar-pulsanti">
        <ion-button color="purple" fill="outline" (click)="mostraDettagli(pasto)" slot="end">
          <ion-icon name="eye-outline"></ion-icon>
        </ion-button>
        <ion-button color="orange" fill="outline" [disabled]="professionista_vota" (click)="modificaPasto(pasto)" slot="end">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button color="warning" fill="outline" [disabled]="professionista_modifica" (click)="votaPasto(pasto.id)" slot="end">
            <ion-icon name="star-outline"></ion-icon>
          </ion-button>
        @if(!professionista_vota && !professionista_modifica) {
          <ion-button fill="outline" (click)="condividiPasto(pasto.id)" slot="end">
            <ion-icon name="share-social-outline"></ion-icon>
          </ion-button>
          <ion-button id="open-modal-pasto-{{ pasto.id }}"fill="outline" (click)="apriRichiesta(pasto.id)" slot="end">
            <ion-icon name="help-outline"></ion-icon>
          </ion-button>
          <ion-button fill="outline" color="danger" (click)="eliminaPasto(pasto.id)" slot="end">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        }
      </div>

      <ion-modal #modal trigger="open-modal-pasto-{{ pasto.id }}">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Invia a un Professionista</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="modal.dismiss()">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <h3>Seleziona a chi vuoi mandare una richiesta:</h3>
          
            <ion-list>
              @for (prof of professionisti_disponibili; track prof.id) {
                <ion-item class="ion-display-flex">
                  <ion-label>{{ prof.nome_P }} {{ prof.cognome_P }}</ion-label>
                  <ion-button (click)="inviaRichiesta(prof.id_professionista, 'MODIFICA')">Modifica</ion-button>
                  <ion-button (click)="inviaRichiesta(prof.id_professionista, 'VOTO')">Vota</ion-button>
                </ion-item>
              } @empty {
                <ion-item>Nessun professionista associato trovato</ion-item>
              }
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>
    }
  </ion-list>

  @if(pastoSelezionato) {
    <div class="overlay-dettagli" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: flex; justify-content: center; align-items: center; z-index: 1000;">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ pastoSelezionato.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            <span class="staticText">Data creazione: </span>
            <span class="dynamicText">{{ pastoSelezionato.data_creazione | date: 'dd/MM/yyyy'}}</span>
          </p>
          <p>
            <span class="staticText">Tipo: </span>
            <span class="dynamicText">{{ pastoSelezionato.tipo }}</span>
          </p>
          <p>
            <b><span class="staticText">Totale Calorie: </span></b>
            <span class="dynamicText">{{ totCalorie }} kcal</span>
          </p>
          <p>
            <span class="staticText">Totale carboidrati: </span>
            <span class="dynamicText">{{totCarboidrati}} g</span>
          </p>
          <p>
            <span class="staticText">Totale zuccheri: </span>
            <span class="dynamicText">{{totZuccheri}} g</span>
          </p>
          <p>
            <span class="staticText">Totale grassi: </span>
            <span class="dynamicText">{{totGrassi}} g</span>
          </p>
          <!--
          <p>Vitamine: {{totVitamine}}</p> metti solo se riesci a far comparire le vitamine una sola volta
          -->
          <ul>
            @for(alimento of dettagliPasto?.alimenti; track alimentoTrack($index, alimento)) {
              <li>
                {{ alimento.name }} - {{ alimento.quantita }}g ({{ alimento.kcal }} kcal/100g)
              </li>
              }
          </ul>
          <div class="buttonContainer">
            <ion-button color="red" fill="outline" (click)="chiudiDettagli()">Chiudi</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  }

  @if(!professionista_modifica && !professionista_vota) {
    <ion-button color="orange" expand="full" [routerLink]='["/creazionePasto"]'>Aggiungi Pasto</ion-button>
  }

  @if(modalita_voto) {
    <ion-card class="ion-no-margin ion-margin-top animate__animated animate__fadeIn">
      <app-vota-attivita
        [devo_votare]="professionista_vota" 
        [voto_precedente]="voto_pasto_caricato"
        (voto_inviato)="inviaVoto($event, id_pasto_richiesta)">
      </app-vota-attivita>
    </ion-card>
    }

  @if(viewModifica) {
    <app-modifica-dettagli
      [isShow]="viewModifica"
      [foodBool]="true"
      [miaAttivita]="pasto_da_modificare"
      [mioDettaglio]="dettagliPasto"
      [dettaglio_selezionato]="alimentoSelezionato"
      [listaDettagli]="alimenti"
      (dettaglio_selezionato_in_attesa)="getAlimento($event)"
      (inviaModifiche)="confermaModificaPasto($event)"
      (chiudi)="onChiudi()">
    </app-modifica-dettagli>
  }

</ion-content>