<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Creazione Allenamento</ion-title>
        <ion-button [routerLink]='["/home"]' slot="end"> Home </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card class="provvisoria">
        <ion-card-header>
            CREAZIONE ALLENAMENTO
        </ion-card-header>
        <ion-card-content>
           <form [formGroup]="allenamentoForm">
            <ion-grid class="ion-justify-center">
                <ion-row>
                    <ion-input type="text" placeholder="Nome Allenamento"></ion-input>
                </ion-row>
            </ion-grid>
            <ion-button type="submit" disabled> Crea </ion-button>
           </form>
        </ion-card-content>
    </ion-card>
</ion-content>