<full-calendar #calendario [options]="calendarOptions"></full-calendar>

<ion-modal
[isOpen] = "isShow"
(didDismiss) = "chiudiModal()"
[breakpoints]="[0, 0.5, 0.8]"
[initialBreakpoint]="0.5">

    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-title>{{data_selezionata}}</ion-title>
                <ion-button (click)="isShow = false" slot="end"><ion-icon name="close"></ion-icon></ion-button>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            @if(!aggiuntaAttivita) {
                <div>
                    <ion-list lines="none">
                        <ion-list-header>
                            <ion-label>Pasti in programma</ion-label>
                        </ion-list-header>
                        @for(pasto of pasti_giornalieri; track pasto.id) {
                            <ion-item class="itemAttivita">
                                <h2>{{pasto.name}}</h2>
                                <hr>  
                                <p>{{pasto.tipo}}</p>
                            </ion-item>
                        }
                        @if(pasti_giornalieri.length === 0) {
                            <ion-item lines="none">
                                <ion-label class="ion-text-center text-muted">Nessun pasto in programma</ion-label>
                            </ion-item>
                        }
                    </ion-list>

                    <ion-list lines="none">
                        <ion-list-header>
                            <ion-label>Allenamenti in programma</ion-label>
                        </ion-list-header>
                        @for(allenamento of allenamenti_giornalieri; track allenamento.id) {
                            <ion-item class="itemAttivita">
                                <h2>{{allenamento.name}}</h2>
                                <hr>  
                                <p>{{allenamento.durata}}</p>
                            </ion-item>
                        }
                        @if(allenamenti_giornalieri.length === 0) {
                            <ion-item lines="none">
                                <ion-label class="ion-text-center text-muted">Nessun allenamento in programma</ion-label>
                            </ion-item>
                        }
                    </ion-list>

                    <ion-footer class="ion-no-border">
                        <ion-toolbar>
                            <ion-button expand="block" (click)="aggiungiAttivita()" >
                                <ion-icon name="add"></ion-icon>
                            </ion-button>
                        </ion-toolbar>
                    </ion-footer>
                </div>
            } @else {
                <ion-list>
                    <ion-list-header>
                        <ion-label>Seleziona un pasto o un allenamento da aggiungere</ion-label>
                        <ion-button fill="clear" (click)="aggiuntaAttivita = false">Indietro</ion-button>
                    </ion-list-header>
                    <ion-title>Pasti</ion-title>
                    @for(pasto of pasti_utente; track pasto.id) {
                        <ion-item button (click)="fissaPasto(pasto.id)">
                            <ion-label>
                            <h2>{{ pasto.name }}</h2>
                            <p>{{ pasto.tipo }} kcal</p>
                            </ion-label>
                        </ion-item>
                    }
                    <ion-title>Allenamenti</ion-title>
                    @for(allenamento of allenamenti_utente; track allenamento.id) {
                        <ion-item button (click)="fissaAllenamento(allenamento.id)">
                            <ion-label>
                            <h2>{{ allenamento.name }}</h2>
                            <p>{{ allenamento.durata }} kcal</p>
                            </ion-label>
                        </ion-item>
                    }
                </ion-list>
            }
        </ion-content>
    </ng-template>

</ion-modal>
