<app-default-header [page_title]="'Gestione Professionisti'"></app-default-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">gestione-professionisti</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-card class="mieiProfessionistiCard">
  <ion-card-header>
    <ion-card-title>
      Professionisti associati
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Alimentare:
    Allenamenti:
  </ion-card-content>
</ion-card>

<ion-card class="professionistiCard">
  <ion-card-header>
    <ion-card-title>
      Professionisti disponibili
    </ion-card-title>
  </ion-card-header>

  <!--Spazio dove vengono mostrati i professionisti, manca una label o un radio per filtrare i ruoli-->
  <ion-card-content [ngStyle]="{'max-height': '400px', 'overflow-y': 'auto'}">
    @for(professionista of professionisti; track professionista.email) {
      <ion-card [ngStyle]="{'display': 'flex', 'justify-content':'space-between','box-shadow': '0 10px 10px rgba(0, 0, 0, 0.1)', 'max-height':'60px', 'overflow-x':'auto'}">
        <ion-card-content><b>{{professionista.name}} {{professionista.surname}}</b></ion-card-content>
        <ion-card-content>{{professionista.email}}</ion-card-content>
        @if( professionista.ruolo === 1) {
         <ion-card-content>Nutrizionista</ion-card-content>
        } @else {
         <ion-card-content>Allenatore</ion-card-content>
        }
        <ion-button >Richiedi</ion-button>
      </ion-card>
    }
  </ion-card-content>
</ion-card>

</ion-content>
