<app-default-header [page_title]="'Gestione Professionisti'"></app-default-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">gestione-professionisti</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card class="mieiProfessionistiCard">
  <ion-card-header>
    <ion-card-title>
      Professionisti associati
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Alimentare:
    Allenamenti:
  </ion-card-content>
</ion-card>

<ion-card class="professionistiCard">
  <ion-card-header>
    <ion-card-title>
      Professionisti disponibili
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    
  </ion-card-content>
</ion-card>

</ion-content>
