<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Richieste</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="statusRichieste">
    @if(nuova_richiesta_pending) {
      <!-- qui metto in evidenza le richieste in attesa di approvazione -->
    }

    <!--  qui metto tutte le richieste ordinandole per status, l'ideale sarebbe inserire dei flag per visualizzare le diverse tipologie -->
    <app-richieste-utente></app-richieste-utente>

  </ion-card>
</ion-content>
