.labelInfo{
    text-align: center;
    color: var(--ion-color-orange) !important;
}

b {
    color: var(--ion-color-orange);
}

.textRuolo {
    color: var(--text-white);
}

ion-list {
    background: transparent !important;
}

.statusRichieste,
.mieiProfessionistiCard,
.professionistiCard {
    margin: 1.5rem auto;
}