<ng-container *ngIf="isShow">
  <!--Sezione Form-->
  <ng-container>
    <ion-card class="detailCard">
      <ion-card-header>
        <ion-card-title>Qual è il piano?</ion-card-title>
      </ion-card-header>

      <!--Sezione cibo-->
      <ion-card-content class="foodCardContent" *ngIf="foodBool">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              Alimenti inseriti
            </ion-col>
            <ion-col size="6">
              Quantità in grammi
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let dettaglio of dettagli_inseriti">
            <ion-col size = "6">
              <p><b>{{dettaglio.name}}</b></p>
            </ion-col>
            <ion-col size = "6">
              <p><b>{{dettaglio.qta}} g</b></p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button (click)="submitRiempi()">Riempi Pasto</ion-button>
      </ion-card-content>

      <!--Sezione esercizi-->
      <ion-card-content class="exerciseCardContent" *ngIf="!foodBool">
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              Esercizi inseriti
            </ion-col>
            <ion-col size="2">
              Serie
            </ion-col>
            <ion-col size="2">
              Ripetizioni o secondi
            </ion-col>
            <ion-col size="2">
              Riposo
            </ion-col>
            <ion-col size="2">
              Pesi in kg
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let dettaglio of dettagli_inseriti">
            <ion-col size = "2">
              <p><b>{{dettaglio.name}}</b></p>
            </ion-col>
            <ion-col size = "2">
              <p><b>{{dettaglio.serie}}</b></p>
            </ion-col>
            <ion-col size = "2">
              <p><b>{{dettaglio.ripetizioni}}</b></p>
            </ion-col>
            <ion-col size = "2">
              <p><b>{{dettaglio.riposo}} minuti</b></p>
            </ion-col>
            <ion-col size = "2">
              <p><b>{{dettaglio.pesi_kg}} kg</b></p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-row>
          <ion-col>
            <ion-button (click)="submitRiempi()">Riempi Allenamento</ion-button>
          </ion-col>
        </ion-row>
        

      </ion-card-content>
    </ion-card>

  <!--Sezione icone quadrate-->
    <ion-card class="containerDettagliCards">
        <ion-input type="text", placeholder="Cerca..." (input)="filtraDettagli($event)" [ngStyle]="{'margin': '0 30px'}"></ion-input>
        <ion-grid>
          <ion-row class="dettagliRow">
            <ion-col size="3" *ngFor="let dettaglio of dettagli">
              <ion-card class="dettaglioCard" (click)="this.segnaDettaglio(dettaglio.id)">
                <img
                  [src]="getImgPath(dettaglio)"
                  (error)="onImgError($event)"
                  alt="{{dettaglio.name}}"
                  class="dettaglioImage">
                <ion-card-content class="dettaglioName">
                  {{dettaglio.name}}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>
</ng-container>