<ng-container *ngIf="isShow">
  <!--Sezione Form-->
  <ng-container>
    <ion-card class="detailCard">
      <ion-card-header>
        <ion-card-title>Qual è il piano?</ion-card-title>
        <ion-card-content class="detailCardContent">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                Dettagli inseriti
              </ion-col>
              <ion-col size="6">
                Quantità
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let dettaglio of dettagli_inseriti">
              <ion-col size = "6">
                <p>{{dettaglio.name}}</p>
              </ion-col>
              <ion-col size = "6">
                <p>{{dettaglio.qta}} g</p>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-button (click)="submitRiempi()">Riempi Attività</ion-button>
        </ion-card-content>
      </ion-card-header>
    </ion-card>

  <!--Sezione icone quadrate-->
    <ion-card class="containerDettagliCards">
        <ion-input type="text", placeholder="Cerca..." (input)="filtraDettagli($event)" [ngStyle]="{'margin': '0 30px'}"></ion-input>
        <ion-grid>
          <ion-row class="dettagliRow">
            <ion-col size="3" *ngFor="let dettaglio of dettagli">
              <ion-card class="dettaglioCard" (click)="this.segnaDettaglio(dettaglio.id)">
                <img
                  [src]="getImgPath(dettaglio)"
                  (error)="onImgError($event)"
                  alt="{{dettaglio.name}}"
                  class="dettaglioImage">
                <ion-card-content class="dettaglioName">
                  {{dettaglio.name}}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>
</ng-container>