@if(isShow) {
  <ng-container>
    <ion-card class="detailCard">
      <ion-card-header>
        <ion-card-title>Qual è il piano?</ion-card-title>
      </ion-card-header>

    @if(foodBool) {
      <!--Sezione cibo-->
      <ion-card-content class="foodCardContent">
        <ion-grid>
          <ion-row>
            <ion-col size="5">
              Alimenti inseriti
            </ion-col>
            <ion-col size="5">
              Quantità in grammi
            </ion-col>
          </ion-row>
          <ion-row>
            @for(dettaglio of dettagli_inseriti; track dettaglioTrack($index, dettaglio)) {
              <ion-col size = "5">
                <p><b>{{dettaglio.name}}</b></p>
              </ion-col>
              <ion-col size = "5">
                <p><b>{{dettaglio.quantita}} g</b></p>
              </ion-col>
              <ion-col size = "2">
                  <ion-button (click)="rimuoviDettaglio($index)" color="danger" fill="outline">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
              </ion-col>
            }
          </ion-row>
        </ion-grid>
        <ion-button (click)="submitRiempi()">Completa Pasto</ion-button>
      </ion-card-content>
    }
    @else {
      <!--Sezione esercizi-->
      <ion-card-content class="exerciseCardContent">
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              Esercizo
            </ion-col>
            <ion-col size="2">
              Serie
            </ion-col>
            <ion-col size="2">
              Ripetizioni / secondi
            </ion-col>
            <ion-col size="2">
              Riposo
            </ion-col>
            <ion-col size="2">
              Pesi (kg)
            </ion-col>
          </ion-row>
          <ion-row>
            @for(dettaglio of dettagli_inseriti; track dettaglioTrack($index, dettaglio)) {
              <ion-col size = "2">
                <p><b>{{dettaglio.name}}</b></p>
              </ion-col>
              <ion-col size = "2">
                <p><b>{{dettaglio.serie}}</b></p>
              </ion-col>
              <ion-col size = "2">
                <p><b>{{dettaglio.ripetizioni}}</b></p>
              </ion-col>
              <ion-col size = "2">
                <p><b>{{dettaglio.riposo}} minuti</b></p>
              </ion-col>
              <ion-col size = "2">
                <p><b>{{dettaglio.pesi_kg}} kg</b></p>
              </ion-col>
              <ion-col size = "2">
                  <ion-button (click)="rimuoviDettaglio($index)" color="danger" fill="outline">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
              </ion-col>
            }
          </ion-row>
        </ion-grid>
        <ion-row>
          <ion-col>
            <ion-button (click)="submitRiempi()">Completa Allenamento</ion-button>
          </ion-col>
        </ion-row>
        

      </ion-card-content>
    }
    </ion-card>

  <!--Sezione icone quadrate-->
    <ion-card class="containerDettagliCards">
        <ion-input type="text", placeholder="Cerca..." (input)="filtraDettagli($event)" [ngStyle]="{'margin': '0 30px'}"></ion-input>
        <ion-grid>
          <ion-row class="dettagliRow">
            <ion-col size="3" *ngFor="let dettaglio of dettagli">
              <ion-card class="dettaglioCard" (click)="this.segnaDettaglio(dettaglio.id)">
                <img
                  [src]="getImgPath(dettaglio)"
                  (error)="onImgError($event)"
                  alt="{{dettaglio.name}}"
                  class="dettaglioImage">
                <ion-card-content class="dettaglioName">
                  {{dettaglio.name}}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>
  </ng-container>
}