<app-default-header [page_title]="'Bacheca Pubblica'"></app-default-header>

  <ion-toolbar color="light">
    <ion-segment value= -1 (ionChange)="cambiaFiltro($event)">
      <ion-segment-button value="tutti">Tutti</ion-segment-button>
      <ion-segment-button value="PASTO">Pasti</ion-segment-button>
      <ion-segment-button value="ALLENAMENTO">Allenamenti</ion-segment-button>
    </ion-segment>
  </ion-toolbar>



<ion-content [fullscreen]="true" class="ion-padding">
  <div class="bacheca-list">
    @for (item of attivita_filtrate; track item.data_condivisione) {
      <ion-card class="bacheca-card">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <div class="avatar-placeholder">{{ item.nome_autore[0] }}{{ item.cognome_autore[0] }}</div>
          </ion-avatar>
          <ion-label>
            <h3>{{ item.nome_autore }} {{ item.cognome_autore }}</h3>
            <p class="text-muted">Condiviso oggi</p>
          </ion-label>
          <ion-badge slot="end" [color]="item.tipologia_attivita === 0 ? 'success' : 'tertiary'">
            {{ item.tipologia_mostrata}}
          </ion-badge>
        </ion-item>

        <ion-card-content class="ion-display-flex">
          <h2><strong>{{ item.nome_pasto || item.nome_allenamento }}</strong></h2>
          
          <hr class="divisore-leggero">

          <div class="ion-display-flex ion-align-items-center ion-margin-vertical">
            <ion-icon name="star" color="warning"></ion-icon>
            <span class="ion-margin-horizontal">
              <strong>{{ item.media || '0' }}</strong> ({{ item.voti_totali_attivita || 0 }} voti)
            </span>
          </div>

          <hr class="divisore-leggero">
          
          <div class="pulsanti-row">
            <ion-button fill="outline" color="purple" size="small" (click)="getDettagliAttivita(item)">
              <ion-icon name="eye-outline"></ion-icon>
            </ion-button>

            <ion-button [disabled]="item.disable_voto" fill="outline" color="warning" size="small" (click)="votaAttivita(item)">
              <ion-icon name="star-half-outline"></ion-icon>
            </ion-button>

            <ion-button [disabled]="item.disable_clona" fill="outline" color="primary" size="small" (click)="importa_attivita(item)">
              <ion-icon name="copy-outline"></ion-icon>
            </ion-button>
          </div>

          @if (item.modalita_voto) {
            <div class="box-voto-bacheca ion-margin-top">
              <app-vota-attivita 
                [voto_precedente]="item.media"
                (voto_inviato)="inviaVoto($event, item)">
              </app-vota-attivita>
            </div>
          }
        </ion-card-content>

        @if (item.modalita_dettagli && item.tipologia_attivita === 0) {
          <div class="dettagliContainer">
            <ul>
              @for(alimento of item.dettagli.alimenti; track alimentoTrack($index, alimento)) {
            <li>
              {{ alimento.name }} - {{ alimento.quantita }}g ({{ alimento.kcal }} kcal/100g)
            </li>
            }
            </ul>
          </div>
        } @else if (item.modalita_dettagli && item.tipologia_attivita === 1) {
          <div class="dettagliContainer">
            <ul>
              @for(esercizio of item.dettagli.esercizi; track esercizioTrack($index, esercizio)) {
            <li>
              {{ esercizio.name }} - {{ esercizio.serie }}g ({{ esercizio.ripetizioni }} kcal/100g)
            </li>
            }
            </ul>
          </div>
        }

      </ion-card>
    } @empty {
      <div class="ion-text-center ion-padding text-muted">
        <ion-icon name="clipboard-outline" style="font-size: 48px;"></ion-icon>
        <p>Nessuna attività condivisa nelle ultime 24 ore.</p>
      </div>
    }
  </div>

</ion-content>

<div class="ion-display-flex ion-align-items-center ion-padding">
    <ion-button class="ion-align-self-end" fill="outline" color="primary" slot="end" (click)="condivisione()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
</div>
