<app-default-header [page_title]="'I Miei Allenamenti'"></app-default-header>

<ion-content [fullscreen]="true">
    <ion-list>
        @for(allenamento of allenamentiUtente; track allenamentoTrack($index, allenamento)) {
            <ion-item>
                <ion-label>
                    <h2>{{ allenamento.name }}</h2>
                    <p>Giorno: {{ allenamento.data | date: 'dd/MM/yyyy' }}</p>
                    <p>Data creazione: {{ allenamento.data_creazione | date: 'dd/MM/yyyy' }}</p>
                </ion-label>
                <ion-button color="purple" fill="outline" (click)="mostraDettagli(allenamento)" slot="end">
                    <ion-icon name="eye-outline"></ion-icon>
                </ion-button>
                <ion-button color="orange" fill="outline" (click)="modificaAllenamento(allenamento)" slot="end">
                    <ion-icon name="create"></ion-icon>
                </ion-button>
                <ion-button fill="outline" [disabled]="professionista_modifica" (click)="votaAllenamento(allenamento.id)" slot="end">
                    <ion-icon name="star-outline"></ion-icon>
                </ion-button>
                @if(!professionista_vota && !professionista_modifica) {
                    <ion-button id="open-modal-allenamento-{{ allenamento.id }}"fill="outline" (click)="apriRichiesta(allenamento.id)" slot="end">
                        <ion-icon name="help-outline"></ion-icon>
                    </ion-button>
                    <ion-button fill="outline" color="danger" slot="end" (click)="eliminaAllenamento(allenamento.id)">
                        <ion-icon name="trash"></ion-icon>
                    </ion-button>
                }
            </ion-item>

            <ion-modal #modal trigger="open-modal-allenamento-{{ allenamento.id }}">
                <ng-template>
                    <ion-header>
                        <ion-toolbar>
                        <ion-title>Invia a un Professionista</ion-title>
                        <ion-buttons slot="end">
                            <ion-button (click)="modal.dismiss()">
                            <ion-icon name="close"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                        </ion-toolbar>
                    </ion-header>

                    <ion-content class="ion-padding">
                        <h3>Seleziona a chi vuoi mandare una richiesta:</h3>
                        
                        <ion-list>
                            @for (prof of professionisti_disponibili; track prof.id) {
                            <ion-item class="ion-display-flex">
                                <ion-label class="staticText">{{ prof.nome_P }} {{ prof.cognome_P }}</ion-label>
                                <ion-button color="orange" (click)="inviaRichiesta(prof.id_professionista, 'MODIFICA')">Modifica</ion-button>
                                <ion-button color="purple" (click)="inviaRichiesta(prof.id_professionista, 'VOTO')">Vota</ion-button>
                            </ion-item>
                            } @empty {
                            <ion-item>Nessun professionista associato trovato</ion-item>
                            }
                        </ion-list>
                    </ion-content>
                </ng-template>
            </ion-modal>
        }
    </ion-list>

    @if(allenamentoSelezionato) {
        <div class="overlay-dettagli" style="overflow: visible; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: flex; justify-content: center; align-items: center; z-index: 1000;">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>{{ allenamentoSelezionato.name }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>
                        <span class="staticText">Giorno: </span>
                        <span class="dynamicText">{{ allenamentoSelezionato.data | date: 'dd/MM/yyyy' }}</span>
                    </p>
                    <p>
                        <span class="staticText">Durata: </span>
                        <span class="dynamicText">{{ allenamentoSelezionato.durata }} {{allenamentoSelezionato.durata !== 1 ? 'Ore' : 'Ora'}}</span>
                    </p>
                    <p>
                        <span class="staticText">Data creazione: </span>
                        <span class="dynamicText">{{ allenamentoSelezionato.data_creazione | date: 'dd/MM/yyyy' }}</span>
                    </p>
                    <ul>
                        @for(esercizio of dettagliAllenamento?.esercizi; track esercizioTrack($index, esercizio)) {
                            <li>
                                {{ esercizio.name }} - serie: {{ esercizio.serie }} x {{ esercizio.ripetizioni }} - {{ esercizio.pesi_kg }}kg - Riposo: {{ esercizio.riposo_minuti }} {{ esercizio.riposo_minuti === 1 ? 'minuto' : 'minuti' }}
                            </li>
                        }
                    </ul>
                    <div class="buttonContainer">
                    <ion-button color="orange" (click)="chiudiDettagli()">Chiudi</ion-button>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
    }

    @if(!professionista_vota && !professionista_modifica) {
        <ion-button color="orange" expand="full" [routerLink]='["/creazioneAllenamento"]'>Aggiungi allenamento</ion-button>
    }
    
    @if(modalita_voto) {
        <ion-card class="ion-no-margin ion-margin-top animate__animated animate__fadeIn">
        <app-vota-attivita
            [devo_votare]="professionista_vota" 
            [voto_precedente]="voto_allenamento_caricato"
            (voto_inviato)="inviaVoto($event, id_allenamento_richiesta)">
        </app-vota-attivita>
        </ion-card>
    }

    @if(viewModifica) {
        <app-modifica-dettagli 
        [isShow]="viewModifica"
        [foodBool]="false"
        [miaAttivita]="allenamento_da_modificare"
        [mioDettaglio]="dettagliAllenamento"
        [dettaglio_selezionato]="esercizioSelezionato"
        [listaDettagli]="esercizi"
        (dettaglio_selezionato_in_attesa)="getEsercizio($event)"
        (inviaModifiche)="confermaModificaAllenamento($event)"
        (chiudi)="onChiudi()">
        </app-modifica-dettagli>
    }
</ion-content>